<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Gabble | About</title>
    <link rel="stylesheet" href="/css/master.css">
    <link rel="icon" type="image/png" href="/images/gabble-logo1.png">
    <link href="https://fonts.googleapis.com/css?family=Quicksand|Open+Sans" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>
  <body>
    <header>
      <div class="head-title">
        <div class="logo-area">
          <img class="head-logo" src="/images/gabble-logo1.png" alt="gabble logo">
        </div>
        <div class="title-area">
          <h1>Gabble</h1>
        </div>
      </div>
      <div class="head-links">
        <a href="/login">Login</a>
        <a href="/signup">Sign Up</a>
        <a href="/about">About</a>
      </div>
    </header>

    <main class="about-main">
      <div class="about-about">
        <h2>What is Gabble</h2>
        <p>Gabble is a social media platform that allows its users to share whatever is on their mind. Gabble is not Twitter. It is much better because Alex created it and he is basically the best programmer in the world.</p>
      </div>
    </main>
  </body>
</html>
