<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Gabble | About</title>
    <link rel="stylesheet" href="/css/master.css">
    <link rel="icon" type="image/png" href="/images/gabble-logo2.png">
    <link href="https://fonts.googleapis.com/css?family=Quicksand|Athiti" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>
  <body>
    <header>
      <div class="head-title">
        <div class="logo-area">
          <img class="head-logo" src="/images/gabble-logo2.png" alt="gabble logo">
        </div>
        <div class="title-area">
          <h1>Gabble</h1>
        </div>
      </div>
      <div class="head-links">
        <a href="/login">Login</a>
        <a href="/signup">Sign Up</a>
        <a href="/about">About</a>
      </div>
    </header>

    <main>
      <div class="about-main">
        <h2>About Gabble</h2>
        <ul>
          <li>Gabble was developed in July 2017 by Alex Montgomery while he was at The Iron Yard</li>
          <li>Gabble is a social media platform that allows its users to share whatever is on their mind in 140 characters or less. </li>
          <li>Gabble is not Twitter. It is much better because Alex created it. And we all know he is basically the best programmer in the world.</li>
          <li>Let your inner parrot gabble away...</li>
        </ul>
      </div>
    </main>
  </body>
</html>
