<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Gabble | Create A Gab</title>
    <link rel="stylesheet" href="/css/master.css">
    <link rel="icon" type="image/png" href="/images/gabble-logo1.png">
    <link href="https://fonts.googleapis.com/css?family=Quicksand|Open+Sans" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>
  <body>
    <header>
      <div class="head-title">
        <div class="logo-area">
          <img class="head-logo" src="/images/gabble-logo1.png" alt="gabble logo">
        </div>
        <div class="title-area">
          <h1>Gabble</h1>
        </div>
      </div>
      <div class="head-links">
        <a href="/">Feed</a>
        <a href="/profile/{{user}}">Logged in as:<br>{{user}}</a>
        <a href="/logout">Logout</a>
      </div>
    </header>

    <main class="home-main">
      <div class="home-new-gab">
        <form class="gab-submit" action="/gabSubmit" method="post">
          <label for="content">Create a New Gab:</label>
          <textarea name="content" rows="8" cols="80"></textarea>
          <input type="submit" name="submit" value="Post Gab!">
        </form>
      </div>
      <div class="home-gab-displays">

      </div>
    </main>
  </body>
</html>
