<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Gabble | Gab</title>
    <link rel="stylesheet" href="/css/master.css">
    <link rel="icon" type="image/png" href="/images/gabble-logo2.png">
    <link href="https://fonts.googleapis.com/css?family=Quicksand|Athiti" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>
  </head>
  <body>
    <header>
      <div class="head-title">
        <div class="logo-area">
          <img class="head-logo" src="/images/gabble-logo2.png" alt="gabble logo">
        </div>
        <div class="title-area">
          <h1>Gabble</h1>
        </div>
      </div>
      <div class="head-links">
        <a href="/">Home</a>
        <a href="/profile/{{user}}">Logged in as:<br>{{user}}</a>
        <a href="/logout">Logout</a>
      </div>
    </header>

    <main class="gab-main">
      {{#gab}}
      <div class="gab-post" id="gab-{{id}}">
        <h4>{{username}}</h4>
        <p>{{content}}</p>
        <h5 class="date">Posted: {{createdAt}}</h5>
        <h5>Likes: {{like.length}}</h5></a>
        <div class="gab-buttons">
          <div>
            {{#hideLike}}
            <img class="like-img" src="/images/gabble-logo2.png" alt="gabble logo">
            {{/hideLike}}
            {{^hideLike}}
            <form class="like-button" action="/like" method="post">
              <button type="submit" name="gabnum" value={{id}}>Like</button>
            </form>
            {{/hideLike}}
          </div>
          <div>
            {{#showDelete}}
            <form class="delete-button" action="/delete" method="post">
              <button type="submit" name="gabnum" value={{id}}>Delete</button>
            </form>
            {{/showDelete}}
          </div>
          <div class="">
          </div>
        </div>
      </div>
      <div class="gab-likes">
        <h5>Liked By:</h5>
        <ol>
          {{#like}}
          <li>{{username}}</li>
          {{/like}}
        </ol>
      </div>
      {{/gab}}
    </main>
    <script src="/js/client.js" charset="utf-8"></script>
  </body>
</html>
