<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Gabble | Sign Up</title>
    <link rel="stylesheet" href="/css/master.css">
    <link rel="icon" type="image/png" href="/images/gabble-logo2.png">
    <link href="https://fonts.googleapis.com/css?family=Quicksand|Athiti" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <header>
      <div class="head-title">
        <div class="logo-area">
          <img class="head-logo" src="/images/gabble-logo2.png" alt="gabble logo">
        </div>
        <div class="title-area">
          <h1>Gabble</h1>
        </div>
      </div>
      <div class="head-links">
        <a href="/login">Login</a>
        <a href="/signup">Sign Up</a>
        <a href="/about">About</a>
      </div>
    </header>

    <main class="signup-main">
      <div class="signup-enter">
        <h2>Sign Up For Gabble</h2>
        {{#errors}}
          <p class="errors">{{message}}</p>
        {{/errors}}
        <form class="signup-form" action="/signup" method="post">
          <label for="username">Choose Username:</label>
          <input type="text" name="username" value="{{user.username}}" placeholder="Username..."><br>
          <label for="password1">Choose Password:</label>
          <input type="password" name="password1" value="" placeholder="Password..."><br>
          <label for="password2">Confirm Password:</label>
          <input type="password" name="password2" value="" placeholder="Confirm Password..."><br>
          <label for="email">Email:</label>
          <input type="email" name="email" value="{{user.email}}" placeholder="Enter Email..."><br>
          <button type="submit" name="submit">Register</button>
        </form>
      </div>
      <div class="signup-about">
        <h2>Sign Up Information</h2>
        <ul>
          <li>Create a username of 5-20 characters. The username may only contain letters and numbers.</li>
          <li>Create a password of 5-15 characters.</li>
          <li>You must provide a valid email address for password retrieval and to sign up for our yearly newsletter.</li>
        </ul>
      </div>
    </main>
  </body>
</html>
